In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [14]:
data = pd.read_csv('movie_bd_v5.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [15]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [16]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#добавление нового столбца profit
data['profit'] = data['revenue'] - data['budget']
#к 11 вопросу - разделение жанров
data2 = data.copy()
data2.genres = data2.genres.str.split('|')
data2 = data2.explode('genres')

#преобразование колонки с датой к типу данных - дата
data['release_date'] = pd.to_datetime(data['release_date'])
#добавление нового столбца month к 21 вопросу
data['month'] = data['release_date'].dt.month
#к 24 и 25 вопросам добавляем колонку - раздление компаний
data3 = data.copy()
data3['production_companies_copy'] = data3.production_companies.str.split('|')
data3 = data3.explode('production_companies_copy')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [50]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [18]:
# тут пишем ваш код для решения данного вопроса
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [19]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()')['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [20]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [21]:
data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [22]:
answers['3'] = 'Winnie the Pooh'
data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [23]:
answers['4'] = 110
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = 107
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar' 
data[data['profit'] == data['profit'].max()]['original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [26]:
answers['7'] = 'The Lone Ranger'
data[data['profit'] == data['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [27]:
answers['8'] = 1478
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
answers['9'] = 'The Dark Knight'
data[data['release_year'] == 2008].query('revenue == revenue.max()')['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
answers['10'] = 'The Lone Ranger'
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].query('profit == profit.min()')['original_title'].values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [30]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
data2.genres.str.split('|').explode().describe(include = ['object']).top

'Drama'

ВАРИАНТ 2

In [31]:
data.genres.str.split('|').explode().mode()[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama'
data.query('profit > 0').genres.str.split('|').explode().value_counts().sort_values(ascending=False).head(5)

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = 'Peter Jackson'
directors = list(data.director.str.split('|').explode())
pd.Series({x: data[data.director.str.contains(x, na=False)].revenue.sum() for x in directors}).sort_values(ascending = False).head(5)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = 'Robert Rodriguez'
data[data.genres.str.contains('Action', na=False)].director.str.split('|').explode().value_counts().sort_values(ascending=False).head(5)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth'
data_tmp = data[data['release_year'] == 2012].copy()
actors = list(data_tmp.cast.str.split('|').explode())
pd.Series({x: data_tmp[data_tmp.cast.str.contains(x, na=False)].revenue.sum() for x in actors}).sort_values(ascending = False).head(5)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Matt Damon'
data.query('budget > budget.mean()').cast.str.split('|').explode('cast').mode()[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
answers['17'] = 'Action'
data[data.cast.str.contains('Nicolas Cage', na=False)].genres.str.split('|').explode('genres').mode()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [38]:
answers['18'] = 'K-19: The Widowmaker'
data[data.production_companies.str.contains('Paramount Pictures', na=False)].query('profit == profit.min()')['original_title'].values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [39]:
answers['19'] = 2015
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [40]:
answers['20'] = 2014
data[data.production_companies.str.contains('Warner Bros', na=False)].groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [41]:
answers['21'] = 9
data.groupby('month')['imdb_id'].count().sort_values(ascending=False).head(5)

month
9     227
12    190
10    186
8     161
3     156
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [42]:
answers['22'] = 450
data.query('month <= 8 & month >=6')['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [43]:
answers['23'] = 'Peter Jackson'
data_tmp2 = data.query('month == 12 or month <= 2').copy()
pd.Series({x: data_tmp2[data_tmp2.director.str.contains(x)].imdb_id.count() for x in directors}).sort_values(ascending = False).head(5)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [44]:
answers['24'] = 'Four By Two Productions'
data3['original_title_copy'] = data3.original_title.str.replace(' ','').str.len()
data3.groupby(['production_companies_copy'])['original_title_copy'].mean().sort_values(ascending = False).head(5)

production_companies_copy
Four By Two Productions      72.0
Jim Henson Company, The      50.0
Museum Canada Productions    39.0
Dos Corazones                39.0
Polsky Films                 38.0
Name: original_title_copy, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [45]:
answers['25'] = 'Midnight Picture Show'
data3['overview_copy'] = data3.overview.str.split(' ').str.len()
data3.groupby(['production_companies_copy'])['overview_copy'].mean().sort_values(ascending = False).head(5)

production_companies_copy
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_copy, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [46]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average'] >= np.quantile(data.vote_average, 0.99)].sort_values(by='vote_average', ascending=False)['original_title'].head(10)

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
370                                         Inception
1191                                 12 Years a Slave
1183                          The Wolf of Wall Street
1081    The Lord of the Rings: The Return of the King
872                                       The Pianist
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [47]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'
res = Counter()
actors_2 = list(data.cast.str.split('|')) 
for actor in actors_2: 
    for comb in combinations(actor, 2):
        res[comb] += 1
res.most_common()[0]

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [51]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [49]:
# и убедиться что ни чего не пропустил)
len(answers)

27